html {
    scroll-behavior: smooth;
}

body {
    background-color: #001F4B;
    color: #fff;
}

section{
    margin-bottom: 4rem;
    padding-left: 1.5rem;
}

a{
    transition: color 0.5s;
}
a:hover{
    color: #69CEF4;
}

.page-portfolio section{
    border-left: .1rem solid transparent;
    transition: border 0.7s linear;
    position: relative;
    overflow: hidden;

}

.page-portfolio section.active::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: .2rem;
    height: 100%;
    background: linear-gradient(360deg, transparent, #69CEF4);
    animation: animateLine 1s ease-in-out;
}

.page-portfolio section.active{
    border-left: .1rem solid #69CEF4;
    filter: drop-shadow(0 .4rem .4rem rgba(0, 0, 0, 0.25));
}

@keyframes animateLine {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.container {
    width: 126.2rem;
    max-width: 1440px;
    margin: 0 auto;
    padding: 5rem 0 0;
    display: flex;
    justify-content: space-between;
}

.title{
    color: #fff;
    font-style: italic;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
    /*transition: color 0.5s;*/
}

.active .title{
    color: #69CEF4;
}

.text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.902);
}

.bold-text{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.disc li{
    list-style-type: disc;
    margin-left: 2.5rem;
}


.header{
    height: 15rem;
    border-bottom: .1rem solid #69CEF4;
    filter: drop-shadow(0 .2rem .6rem #000000);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__title{
    font-style: italic;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.menu{

}

.menu__wrapper{
    display: flex;
    height: 61.8rem;
    /*padding-bottom: 4rem;*/
}

.menu__logo{
    width: 35.8rem;
    height: 61.8rem;
}

.menu__list{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.menu__list .menu__item:not(:last-child){
    margin-bottom: .2rem;
}

.menu__item{
    width: 3rem;
    height: 10rem;
    display: flex;
    border: .1rem solid #69CEF4;
}



.menu__link{
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.17;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
}

.menu__link.active{
    color: #69CEF4
}

.main{
    padding-left: 15.7rem;
}

.information__text{
    padding-bottom: 1rem;
}

.skills__list{
    height: 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 38.7rem;
}

.skills__skill{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.skills__img{
    width: 5rem;
    height: 5rem;
}


.skills__text{
    margin-left: 2.5rem;
    text-transform: capitalize;
}

.code__wrapper{
    border: .1rem solid #69CEF4;
    padding: 3rem 7.5rem;

}

.code .text{
    font-size: 1.6rem;
    line-height: 1.19;
    color: #69CEF4;
}

.contacts{
    margin-top: 4rem;
}

.footer{
    border-top: 3px solid rgba(105, 206, 244, 0.05);
    height: 6rem;
}

.footer .container{
    padding: 1.4rem 0;
}

.footer__links{
    display:  flex;
}

.footer__links li:not(:last-child){
    margin-right: 3.2rem;
}

.copyright{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.git-icon{
    width: 3rem;
    height: 3rem;
}

.rs-icon{
    width: 8.3rem;
    height: 3.3rem;
}
